<!--<div class="container pt-3">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1 class="float-left mb-5">のマイページ</h1>
      <table class="table">
        <div  scope="row">氏名</div>
          <div><%= current_user.name %></div>
        </div>
      <div class='text-center'>
        <%= link_to '登録ページへ', new_user_path %>
        <%= link_to 'パスワードをお忘れの方はこちら', new_password_reset_path %>
      </div>-->

<% content_for(:title, t('.title')) %>
<div class="container">
<h1 class="float-left mb-5"><%= current_user.name %>のマイページ</h1>
  <div class='row' style="padding-top: 80px; padding-bottom: 30px;">
    <div class="d-grid gap-2 col-6 mx-auto">
      <%= link_to "自分の投稿を見る", post_list_user_path(current_user), class: "btn btn-primary btn-lg" %>
    </div>
  </div>
  <div class='row' style="padding-top: 30px; padding-bottom: 30px;">
    <div class="d-grid gap-2 col-6 mx-auto">
    <%= link_to "いいね、した投稿一覧", likes_posts_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>