<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to "sample app", root_path, id: "logo" %>

    <ul class='navbar-nav ms-auto main-nav align-items-center'>
      <%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete } %>
      <%= link_to 'マイページ', '#' %>
    </ul>
  </nav>
</header>



<%# ヘッダー %>
<header>
  <%# navbar %>
  <nav class="navbar navbar-expand-md" style="background-color: #e3f2fd;" >
    <div class="container-fluid">
      <%# navbar-brandではアプリ名やアプリの画像などを設定する %>
      <%= link_to "バード", root_path, class: "navbar-brand" %>
      <%# ハンバーガーメニュー %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <%# 左に表示されるもの %>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%= link_to '投稿一覧', posts_path %>
        <%= link_to '新規投稿', new_post_path %>
        </ul>
        <%# 右に表示されるもの %>
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete } %>
          <%= link_to 'マイページ', '#' %>
        </ul>
      </div>
    </div>
  </nav>
</header>


