<%= form_with model: @post, class: "new_post" do |f| %>
  <div class="mb-3">
    <%= f.label :タイトル %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :内容 %>
    <%= f.text_area :body, class: "form-control", rows: "5" %>
  </div>
  <div class="mb-3">
    <%= f.label :tag_names %>
    <%= f.text_field :tag_names, class: 'form-control', placeholder: ",で区切って入力してください" %>
  </div>
  <div class="mb-3">
    <%= f.label :image, class: "form-label" %>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <%= f.submit nil, class: "btn btn-primary" %>
<% end %>