<%= form_with model: @post, class: "new_post" do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="mb-3">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control", rows: "5" %>
  </div>
  <div class="mb-3">
    <%= label :tag_names, 'タグ' %>
    <%= text_field_tag :tag_names, @post.tag_names, class: 'form-control', placeholder: ",で区切って入力してください" %>
  </div>
  <div class="mb-3">
    <%= f.label :image, class: "form-label" %>
    <%= f.file_field :image, class: "form-control", accept: 'image/*' %>
    <%= f.hidden_field :image_cache %>
  </div>
  <%= f.submit nil, class: "btn btn-primary" %>
<% end %>