<%= form_with model: @post, class: "new_post" do |f| %>
  <div class="mb-3">
    <%= f.label :タイトル %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :内容 %>
    <%= f.text_area :body, class: "form-control", rows: "5" %>
  </div>
  <%= f.submit nil, class: "btn btn-primary" %>
<% end %>