<% content_for(:title, @post.title) %>
<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1>投稿詳細画面</h1>
      <article class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
            <!-- image_tagを使う形に修正してください -->
              <% if @post.image? %>
                <%= image_tag @post.image.url, class:"card-img-top", width: "300", height:"200"%>
              <% else %>
                <%= image_tag "post_placeholder.png", class: "card-img-top", width: "300", height:"200" %>
              <% end %>
            </div>
            <div class="col-md-9">
              <h3 style="displ@y: inline;"><%= @post.title %></h3>
              <ul class="list-inline">
                <li class="list-inline-item"><a href="/posts/new"><%= "by #{@post.user.name}" %></a></li>
                <li class="list-inline-item"><%= l @post.created_at, format: :short %></li>
              </ul>
              <% if current_user.own?(@post) %>
                <div class='d-flex justify-content-end'>
                  <%= link_to edit_post_path(@post), id: "button-edit-#{@post.id}" do %>
                    <i class="bi bi-pencil-fill"></i>
                    編集
                  <% end %>
                  <%= link_to post_path(@post), id: "button-delete-#{@post.id}", data: { turbo_method: :delete, turbo_confirm: '削除しますか？'} do %>
                    <i class="bi bi-trash-fill"></i>
                    削除
                  <% end %>
                </div>
                <p>
                  <strong>Tag:</strong>
                    <% @post.tags.each do |tag| %>
                      <%= link_to tag.name, posts_path(tag_name: tag.name), class: "btn btn-primary btn-sm" %>
                    <% end %>
                </p>
              <% end %>
              </div>
            </div>
            <p><%= simple_format(@post.body) %></p>
          </div>
        </article>
      </div>
    </div>
    <div class="row">
      <div class="d-grid gap-2 col-2">
        <a class="btn btn-primary btn-lg" href="#" role="button">シェア</a>
      </div>
    </div>
  </div>
</div>