<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= display_meta_tags(default_meta_tags) %>
  </head>

  <body>
  <div class="all-back-image">
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/not_login_header' %>
    <% end %>

    <div class="breadcrumbs">
      <%= breadcrumbs separator: " &rsaquo; " %>
    </div>
      <%= render 'shared/flash_message' %>
    <%= yield %>
  </div>
      <%= render 'shared/footer' %>
  </body>
</html>
